.site-nav.ant-layout-header {
  background-color: #a9180a;
  height: 32px;
  line-height: 32px;
  padding: 0;
}

.site-nav .sn-bd,
.search-warp > .ant-row-flex,
.goods-nav-warp,
.index-banner-warp > .ant-carousel,
.brandPromote-warp {
  min-width: 1024px;
  max-width: 70%;
  margin: auto;
}

.site-nav .sn-bd {
  color: #fff;
  height: 100%;
  font-size: 12px;
}

.site-nav a {
  color: #fff;
}

.site-nav a:hover,
.site-nav a:active {
  color: #fff;
}

.site-nav .sn-bd .ant-row-flex {
  height: 100%;
}

.sn-login,
.sn-cart-link {
  margin: 0 20px;
}

.head-menu a:hover {
  color: #a9180a;
}

.search-warp {
  background: #f0f2f5;
  height: auto;
  padding: 0;
}

.goods-nav-warp > .ant-list {
  width: 200px;
  z-index: 1;
}

.goods-nav-warp .ant-list {
  color: #fff;
}

.goods-nav-warp .ant-list-header {
  background-color: #ff0036;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 0 6px 8px;
}

.goods-nav-warp .ant-spin-container {
  background-color: rgba(0, 0, 0, 0.55);
}

.goods-nav-warp .ant-list-sm .ant-list-item {
  padding: 4px 0 4px 8px;
}

.goods-nav-warp .ant-list-sm .ant-list-item:hover {
  color: #ff0036;
  background-color: #fff;
}

.goods-nav-warp .anticon {
  margin-right: 8px;
}

.index-banner-warp {
  position: relative;
  margin-top: -466px;
  border-top: 2px solid #ff0036;
  text-align: center;
  height: 466px;
  background-color: #a9180a;
}

.index-banner-warp .bannerImg {
  margin: auto;
  height: 464px;
}
