.store-warp .search-warp {
  height: 114px;
  border-bottom: 1px solid #c8baaa;
}

.storeHead-warp .storeInfo-warp {
  padding: 10px;
}

.storeHead-warp .storeInfo-warp a {
  font-size: 12px;
  font-family: "\5b8b\4f53";
  color: #333;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.storeHead-warp .storeInfo-warp a:hover {
  text-decoration: underline;
}

.storeInfo-warp > div {
  border-left: 1px solid #f0f0f0;
  padding-left: 20px;
  display: flex;
  text-align: center;
  height: 64px;
}

.storeInfo-warp .shopdsr-item {
  color: #999;
  width: 36px;
  line-height: 50px;
}

.storeInfo-warp .shopdsr-item > div {
  height: 18px;
}

.storeInfo-warp .shopdsr-score {
  color: #ff0036;
  font-weight: 400;
  font-family: tahoma, arial, "\5b8b\4f53";
}

.store-warp .ant-layout {
  background-color: #fff;
}

.store-warp .storeBanner-warp .slick-track,
.store-warp .storeBanner-warp .bannerImg {
  height: 690px;
}

.store-warp .storePromote-warp {
  background-color: #fff;
}

.store-warp .promote-line {
  height: 140px;
  background: url(https://gdp.alicdn.com/imgextra/i2/1806053478/O1CN01GnZ7Ha1bYy2jD8PVk_!!1806053478.jpg)
    no-repeat 50% 5%;
}

.store-warp .promoteList-panel {
  width: 920px;
}

.store-warp .goodsGrid-warp {
  max-width: 320px;
  border: 1px solid #ccc;
}

.store-warp .goodsGrid-warp .goodsGrid-img {
  max-height: 258px;
}

.store-warp .promoteList-line {
  padding: 0;
  display: flex;
  margin-bottom: 32px;
}

.store-warp .promoteList-line li {
  margin-right: 32px;
}

.store-warp .promoteList-line li:last-child {
  margin: 0;
}
