.store-goods-edit .ant-upload-picture-card-wrapper {
    display: block;
}

.store-goods-con .ant-descriptions-item-content {
    width: 100%;
}

.goods-sku-edit .ant-form-item{
    margin-bottom: 1px;
}
