.confirm-panel .address-list {
    padding: 0 2px;
    overflow: hidden;
}

.confirm-panel .addr-item-wrapper {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 237px;
    height: 105px;
    margin: 4px;
    color: #666;
    font-size: 12px;
    cursor: pointer;
}

.confirm-panel .addr-item-wrapper > .inner-infos {
    height: 100%;
    padding: 11px 15px;
    background: url(//img.alicdn.com/tps/i2/T1VPiBXvpeXXbjLKQ7-237-106.png);
    z-index: 2;
    position: relative;
}

.confirm-panel .addr-item-wrapper > .inner-infos:hover, .confirm-panel .addr-selected > .inner-infos {
    background-image: url(//img.alicdn.com/tfs/TB1OVRCRpXXXXaMXFXXXXXXXXXX-237-106.png);
}

.confirm-panel .addr-item-wrapper .addr-hd {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 0 5px;
    margin-bottom: 5px;
    line-height: 18px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.confirm-panel .addr-item-wrapper .addr-bd {
    height: 36px;
    overflow: hidden;
}

.confirm-panel .addr-item-wrapper .addr-bd, .addr-bd span {
    word-break: break-all;
    word-wrap: break-word;
}

.confirm-panel .addr-item-wrapper .addr-bd span {
    margin-right: 3px;
}

.confirm-panel .default-tip {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 2px;
    text-decoration: none;
    filter: alpha(opacity=70);
    opacity: .7;
    z-index: 3;
    background: #ccc;
    color: #fff;
}

.confirm-panel .addr-selected .curMarker {
    z-index: 3;
    position: absolute;
    background: url(//img.alicdn.com/tfs/TB1zLJRRpXXXXcrXXXXXXXXXXXX-30-600.png) no-repeat 0 -272px;
    width: 28px;
    height: 28px;
    right: 0;
    bottom: 0;
}

.confirm-panel .buy-list-1 {
    width: 9%;
}

.confirm-panel .buy-list-2 {
    width: 29%;
}

.confirm-panel .buy-list-3 {
    width: 28%;
}

.confirm-panel .buy-list-4 {
    width: 10%;
}

.confirm-panel .buy-list-5 {
    width: 16%;
}
