em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

img,
input {
  vertical-align: middle;
}

img {
  border: none;
}

.tmall-logo {
  width: 190px;
  height: 27px;
}

.view-footer {
  border-top: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
}

.verticalAlignCenter {
  vertical-align: middle !important;
}
